body {
    color: #777777;
}

img {
    max-width: 175px;
}

td {
    font-size: 20px;
    padding: 5px;
}

tr {
    border-bottom: none;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 20px;
}


@keyframes slideIn {
    from {
        margin-left: 100%;
        width: 300%; 
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
}

#trailMix{
    animation-name: slideIn;
    animation-duration: 4s;
    color:black
}

    