body{
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #777777;
}

#jumbotron-div {
    border: solid;
    border-color: lightslategray;
}

#trailMix{
    animation-name: slideIn;
    animation-duration: 4s;
    color:black
}

#index-banner{
    margin-top: 20px;
    margin-bottom: 7px;
    background: whitesmoke;
}

h1 {
    font-size: 65px;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 0px;
}

#tagline {
    font-size: 25px;
    margin-top: 5px;
}

img {
    max-width: 175px;
    max-height: 150px;
}

.input-row {
    margin-bottom: 5px;
}

.results-header {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.myTrail, .food-row {
    background-color: whitesmoke;
    margin: 3px;
    padding: 10px;
    border: solid;
}

.trail-results {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 5px;
}

.rest-name {
    font-weight: bold;
    margin-top: 7px;
}

.rest-address {
    margin-top: 5px;
    margin-bottom: 7px;
}

.rest-distance {
    margin-bottom: 7px;
}