body{
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #777777;
    line-height: 1.4;
}

#jumbotron-div {
    border: solid;
    border-color: lightslategray;
    background-color: #a6d7f5;
}

#trail-mix {
    color: white;
}

.input-field input[type=text]:focus + label {
    color: white;
}

.btn {
    background-color: #207300;
}

#index-banner{
    margin-top: 20px;
    margin-bottom: 7px;
    background: whitesmoke;
}

h1 {
    font-size: 65px;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 0px;
}

#tagline {
    font-size: 25px;
    margin-top: 5px;
}

img {
    max-width: 175px;
    max-height: 150px;
}

.no-image {
    max-width: 100px;
    max-height: 100px;
}

.input-row {
    margin-bottom: 5px;
}

#hide-header {
    background-color: transparent;
    border: 0px;
}

.results-header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: #a6d7f5;
    margin-bottom: 10px;
    border: solid;
    border-color: lightslategray;
    padding: 25px;
}

.myTrail {
    background-color: #ffd492;
    margin: 3px;
    padding: 10px;
    border: solid;
    border-color: lightslategray;
}

.food-row {
    color: whitesmoke;
    background-color: #ae6e3f;
    margin: 3px;
    padding: 10px;
    border: solid;
    border-color: lightslategray;
}

.trail-results {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 5px;
}

.rest-name {
    font-weight: bold;
    margin-top: 7px;
}

.rest-address {
    margin-top: 5px;
    margin-bottom: 7px;
}

.rest-distance {
    margin-bottom: 7px;
}