body{
    background-repeat: no-repeat; 
    background-attachment: scroll;
    background-position: center;
    color: #777777;
}

img {
    max-width: 175px;
    max-height: 150px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

#index-banner{
    background: whitesmoke;
}

#trailMix{
    animation-name: slideIn;
    animation-duration: 4s;
    color:black
}

body{
    background-repeat: no-repeat; 
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    color: #777777;
}

#bkgrnd{
    background: whitesmoke;
}
